// main:../style.less

.extra {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;


    @media@667{
        display: none;
    }

    @media@iPhone {
        display: none;
    }
}

.extra__link {
    white-space: nowrap;
    padding: 1.6rem 2.7rem;
    font-size: 1.8rem;
    color: @navy;
    font-style: normal;
    line-height: 2rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1rem;

    border: 2px solid transparent;
    border-radius: 0.6rem;

    transition: background-color .2s linear, color .2s linear;

    &:hover {
        background-color: @navy;
        color: @white;
    }

    @media@841{
        padding: .7rem .7rem;
    }
}
